.input span {
      font-size: 24px;
}

.input {
      font-size: 15px;
      display:grid;
      width:100%;
}

input[type=checkbox] {
      margin-bottom: 32px;
}
/*
input[type=radio] {
      display:grid;
}
*/

.background p {
      padding-top: 20px;
      margin-top: 25px;
}

.input-check {

      margin-top: 18px;
      margin-bottom: 25px;
}

.input-check label {
      margin-right: 12px;
}

.input-day {
      margin-top: 15px;
}

.game{
      margin-top: 17px;
}