.view {
      display: inline;
      margin: 32px 64px 64px;
	align-content: center;
}

.view-text {
      font-size: 32px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 800;
      line-break: loose;
      align-content: center;
}

.view-text p {
      margin-bottom: 128px;
      text-align: center;
}

.view-text a {
      text-align: center;
      background-color: #ba401b;
      color: white;
      padding: 1em 1.5em;
      text-decoration: none;
      text-transform: uppercase;
      border-radius: 5%;
      
      
}

.link {
      width:100%;
      text-align: center;
}

.user {
	text-align: right;
	font-size: 32px;
	font-weight: 500;
}