
h1 {
      width: 100%;
      align-items: center;
      
}

/*
.input {
      margin-top: 10px;
      margin-bottom: 20px;
      button
       transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
*/
.btnSubmit {
      display: inline-block;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: #fff;
      background-color: #28a745;
      border-color: #28a745;
      border: 1px solid;
      padding: 15px 25px;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0.25rem;
}
.background {
      width: 100%;
      padding: 15px 45px 15px 20px;
}

.content {
      width: 55%;
      margin: 10px 30% 10px 20%;
      padding:10px 0;
}

input[type=text], input[type=email], input[type=date], input[type=tel]{
      margin-bottom: 15px;
      margin-top: 15px;
      width:100%;
      padding: 15px;

}

input[type=number] {
      margin-bottom: 15px;
      margin-top: 15px;
      width:40%;
      padding: 15px;
}

input[type=radio] {
      margin: 15px;
      margin-bottom: 30px;
}

input[type=checkbox] {
      margin-bottom: 32px;
}


textarea{
      width:90%;
      padding: 15px;
      margin-top: 10px;
      border:1px solid;
      border-radius:5px;
      margin-bottom: 20px;
      resize:none;
}



.btnSubmit {
      margin-top: 30px;
}

footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
}

.info {
      margin-top: 36px;
      font-size: small;
}

button {
      padding: 15px 32px;
      text-align: center;
      font-size: 16px;
}

/*
form{
      width:70%;
      margin:4% 15%;
}