@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
      margin:0;
      padding:0;
      font-family: 'Roboto', sans-serif;
      background-color: black;
      color: white;
}

header {
      background-color: #333;
      overflow: hidden;
      display: flex;
      margin: 16px;
      margin-top: 24px;
}


    /* Style the links inside the navigation bar */
header .navbar-brand a {

      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
}
header .navbar-options {
      display: flex;
}
header .nav-link {
      list-style:none;
      padding: 0 12px;
      float: left;
      color: #f2f2f2;
      text-align: center;
      text-decoration: none;
      font-size: 17px;
      transition: 0.3s;
}

    /* Change the color of links on hover */
header a:hover {
      color: #b8b8b8;
}

    /* Add a color to the active/current link */
header a.active {
      background-color: #ba401b;
      color: white;
      padding-bottom: 16px;
}

header img {
      padding: 12px;
      padding-bottom: 6px;
      height: 32px;
      width: 48px;
      background-color: #ba401b;
      margin-bottom: 0;
}
