@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
      width: 100%;
      align-items: center;
      
}

body {
      margin:0;
      padding:0;
      font-family: 'Roboto', sans-serif;
}
/*
.input {
      margin-top: 10px;
      margin-bottom: 20px;
}
*/

.background {
      width: 100%;
      padding: 15px 45px 15px 20px;
}

.content {
      width: 55%;
      margin: 10px 30% 10px 20%;
      padding:10px 0;
}

input[type=text], input[type=email], input[type=date], input[type=tel]{
      margin-bottom: 15px;
      margin-top: 15px;
      width:100%;
      padding: 15px;

}

input[type=number] {
      margin-bottom: 15px;
      margin-top: 15px;
      width:40%;
      padding: 15px;
}

input[type=radio] {
      margin: 15px;
      margin-bottom: 30px;
}

input[type=checkbox] {
      margin-bottom: 32px;
}


textarea{
      width:90%;
      padding: 15px;
      margin-top: 10px;
      border:1px solid;
      border-radius:5px;
      margin-bottom: 20px;
      resize:none;
}



.btnSubmit {
      margin-top: 30px;
}

footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
}

.info {
      margin-top: 36px;
      font-size: small;
}

button {
      padding: 15px 32px;
      text-align: center;
      font-size: 16px;
}

/*
form{
      width:70%;
      margin:4% 15%;
}
