
h1 {
      text-align: center;
}


/*
.input {
      margin-top: 10px;
      margin-bottom: 20px;
      button
       transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
*/
.btnSubmit {
      display: inline-block;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: #fff;
      background-color: #28a745;
      border-color: #28a745;
      border: 1px solid #28a745;
      padding: 15px 25px;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0.25rem;
}
.background {
      width: 100%;
      padding: 15px 45px 15px 20px;
      margin-bottom: 50px;
}

.content {
      width: 55%;
      margin: 10px 30% 10px 20%;
      padding:10px 0;
}
input {
      border: 1px solid rgb(0, 0, 0);
      border-radius: 4px;
      background-color: #434343;
      color: white;
}




input[type=text], input[type=email], input[type=date], input[type=tel], input[type=password]  {
      margin-bottom: 20px;
      margin-top: 20px;
      width:100%;
      padding: 15px;

}



input[type=radio] {
      margin: 20px;
      margin-bottom: 20px;
      margin-left: 12px;
      margin-right:12px;
}



.btnSubmit {
      margin-top: 30px;
}

footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
}

.info {
      display:grid;
      margin-top: 36px;
      font-size: small;
}

button {
      padding: 15px 32px;
      text-align: center;
      font-size: 16px;
}



/*
form{
      width:70%;
      margin:4% 15%;
}